<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NicePhotosEntities" connectionString="metadata=res://*/NicePhotosModel.csdl|res://*/NicePhotosModel.ssdl|res://*/NicePhotosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CONRAD-PC;Initial Catalog=NicePhotos;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>